:root{
    --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);

    //### Neutral

    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

*,*::before, *::after{
    box-sizing: border-box;
}
html{
    block-size: 100%;
    inline-size: 100%;
}

body{
    min-block-size: 100%;
    min-inline-size: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--Grayish-Blue);
    background-color: var(--Very-Light-Grayish-Blue);
    padding: 4rem 1.5rem;

    background-image: url('../../images/bg-top.svg'), url('../../images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: 200px 0%, 10000% 10000%;

    @include tabplus{
        background-position: top right, bottom left;
    }

    @include tabplus{
        padding-top: 4.4375rem;
    }
}

h1, h2, p{
    margin: 0;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

