:root{
    --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);

    //### Neutral

    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

*,*::before, *::after{
    box-sizing: border-box;
}
html{
    block-size: 100%;
    inline-size: 100%;
}

body{
    min-block-size: 100%;
    min-inline-size: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--Grayish-Blue);
    background-color: var(--Very-Light-Grayish-Blue);
    padding: 4rem 1.5rem;

    &::before{
        content: '';
        position: absolute;
        top: -3%;
        right: -53%;
        inline-size: 100%;
        block-size: 100%;
        background: url('../../images/bg-top.svg') ;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    @include tabplus{
        padding-top: 4.4375rem;

        &::before{
            top:0%;
            right: -74%;
            background-size: 27%;
        }

        &::after{
            content: '';
            position: absolute;
            left: 0%;
            bottom: -10%;
            
            inline-size: 50%;
            block-size: 50%;
            background: url('../../images/bg-bottom.svg');
            background-repeat: no-repeat;
            background-size: 50% 94%;

        }
    }
}

h1, h2, p{
    margin: 0;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

